.room-container {
    display: flex;
    flex-direction: column;
}

.room-content {
    flex: 1;

    display: flex;
    justify-content: center;
    padding: 2rem;
}

.room-users {
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.room-user-container {
    padding: 1rem;
    height: 3rem;

    display: flex;
    align-items: center;
}

.room-user-container.ready {
    background-color: rgba(0, 255, 0, .3);
}

.room-user-color {
    height: 2rem;
    width: 2rem;
    margin-right: .3rem;
}

.room-user-name {
    flex: 1;
    font-size: 1.2rem;
    color: #323232;
}
.room-user-name.owner {
    font-weight: bold;
    color: #212121;
}
.room-user-name.you {
    text-decoration: underline;
}

.room-user-status {
    font-size: 1.2rem;
    font-weight: bold;
}
.room-user-status.waiting {
    color: rgb(83, 33, 33);
}
.room-user-status.ready {
    color: rgb(37, 58, 37);
}

.room-spells {
    flex: 2;
    border: 1px solid #eee;
}
