.room-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #061639;
    padding: .3em;
}

.room-side-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: .5em;
}

.room-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.room-name {
    color: #fafafa;
    margin: 0;
    padding: 0;
}

.room-content-container {
    display: flex;
    flex: 1;
}

.room-users-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: .5em;
    background-color: #FAFAFA;
    overflow: auto;
}

.room-users-addbot-container {

}

.room-users-addbot {
    height: 4rem;
    min-height: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #555;
    background-color: #FAFAFA;
    cursor: pointer;
    
    transition: 300ms;
}

.room-users-addbot:hover {
    background-color: #FFCC00;
}

.room-user-container {
    height: 4rem;
    min-height: 4rem;

    display: flex;
    align-items: center;
    border-bottom: 1px solid #555;
    padding: .3em;
}
.room-user-container.ready {
    background-color: #2E7D32;
}

.room-user-color {
    height: 1.5em;
    width: 1.5em;
    border: 1px solid #212121;
}

.room-user-name {
    margin-left: .5em;
    color: #212121;
    flex: 1;
    font-weight: bold;
}
.room-user-name.owner {
    color: #4FC3F7;
}
.room-user-name.you {
    font-size: 1.2em;
}
.room-user-name.bot {
    font-size: .8em;
}

.room-user-status {
    color: #EF5350;
}
.room-user-status.ready {
    font-weight: bold;
    color: #FAFAFA;
}
.room-user-status.bot {
    cursor: pointer;
    font-weight: bold;
    color: #FAFAFA;
}

.room-chat-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: .5em;
    background-color: #FAFAFA;
}

.room-chat-list-container {
    /*display: flex;*/
    flex: 1;
    overflow: auto;
    padding: .3em;
}

.room-chat-line-container {
    /*height: 1.4em;*/
    margin: .4em;
    padding: .4em;
    background-color: #FFFDE7;
    border: 1px solid #212121;
    border-radius: .3em;
}
.room-chat-line-container.mine {
    background-color: #E8F5E9;
}

.room-chat-line-content {
    display: flex;
    flex-direction: column;
}

.room-chat-line-header {
    display: flex;
    justify-content: space-between;
}

.room-chat-line-user {
    font-size: .7em;
}

.room-chat-line-date {
    font-size: .9em;
}

.room-chat-line-message {
    font-size: 1em;
}

.room-chat-input-container {
    border-top: 1px solid #212121;
    display: flex;
    padding: .3em;
}

.room-chat-input {
    flex: 1;
    margin-right: 1em;
}

.room-chat-input-submit {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 300ms;
}
.room-chat-input-submit:hover {
    background-color: #ccc;
}

.room-chat-input-submit-label {

}

.room-spells-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.room-spells-list-container {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: .3em;
    background-color: #FAFAFA;
}

.room-spells-list-title {
    color: #212121;
    border-bottom: 1px #333 solid;
    margin-bottom: .3em;
}

.room-spells-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: auto;
}

.room-spell-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 6em;
    width: 5em;
    padding: .3em;
    cursor: pointer;
    margin-bottom: .3em;

    background-color: #eee;
    border: 1px solid #212121;
}
.room-spell-container.selected {
    background-color: #EF5350;
}
.room-spell-container.focus {
    border: 1px solid #FFCC00;
}

.room-spell-name {
    height: 2em;
    text-align: center;
}

.room-spell-icon-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-spell-icon {
    height: 32px;
    width: 32px;
}

.room-spell-hotkey-container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.room-spell-hotkey {
    font-size: 3em;
    color: #FAFAFA;
}

.room-buttons-container {
    display: flex;
    height: 4em;
    padding: 1em;
    background-color: #FAFAFA;
}

.room-button {
    flex: 1;
    height: inherit;
}
.room-button.right {
    margin-left: .5em;
}
.room-button.left {
    margin-right: .5em;
}
.room-button.ready {
    background-color: #C62828;
    color: #fafafa;
    font-weight: bold;
}
.room-button.waiting {
    background-color: #2E7D32;
    color: #fafafa;
}

.room-spell-desc-container {
    display: flex;
    height: 4em;
    padding: 1em;
    background-color: #FAFAFA;
}

.room-spell-desc-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 64px;
}

.room-spell-desc-icon {
    width: 32px;
    height: 32px;
}

.room-spell-desc-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.room-spell-desc-name {
    font-size: 1.2em;
    color: #212121;
}

.room-spell-desc-desc {
    flex: 1;
    overflow: auto;
}

.room-map-modal-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);

    display: flex;
    justify-content: center;
    padding: 5em;
}

.room-map-modal-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 2em;
    border-radius: 5px;
    background-color: #fafafa;
}

.room-maps-list {
    flex: 1;
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
}

.room-map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 200px;
    height: 200px;
    border: 1px solid #222;
    margin-left: .3em;
    margin-right: .3em;
    
    transition: 300ms all;
    cursor: pointer;
}
.room-map-container:hover {
    background-color: #ddd;
}
.room-map-container.active {
    background-color: #FFCC00;
}

.room-map-name {

}

.room-map-img {
    width: 100px;
    height: 100px;    
}

.room-map-action-container {
        
}

.room-map-action-button {
    height: 4em;
}
