.room-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #061639;
    padding: .3em;
}

.room-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.room-name {
    color: #fafafa;
    margin: 0;
    padding: 0;
}

.room-content-container {
    display: flex;
    flex: 1;
}

.room-users-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: 1em;
    background-color: #FAFAFA;
}

.room-user-container {
    display: flex;
    align-items: center;
    height: calc(4rem - 1px);
    padding-left: 1em;
    padding-right: 1em;
    border-bottom: 1px solid #555;
}
.room-user-container.ready {
    background-color: #2E7D32;
}

.room-user-color {
    height: 1.5em;
    width: 1.5em;
    border: 1px solid #212121;
}

.room-user-name {
    margin-left: .5em;
    color: #212121;
    flex: 1;
    font-weight: bold;
}
.room-user-name.owner {
    color: #4FC3F7;
}
.room-user-name.you {
    font-size: 1.2em;
}

.room-user-status {
    color: #EF5350;
}
.room-user-status.ready {
    font-weight: bold;
    color: #FAFAFA;
}

.room-side-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.room-spells-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.room-spells-list-container {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: .3em;
    background-color: #FAFAFA;
}

.room-spells-list-title {
    color: #212121;
    border-bottom: 1px #333 solid;
    margin-bottom: .3em;
}

.room-spells-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.room-spell-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 6em;
    width: 5em;
    padding: .3em;
    cursor: pointer;

    background-color: #eee;
    border: 1px solid #212121;
}
.room-spell-container.selected {
    background-color: #EF5350;
}

.room-spell-name {
    height: 2em;
    text-align: center;
}

.room-spell-icon-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-spell-icon {
    height: 32px;
    width: 32px;
}

.room-spell-hotkey-container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.room-spell-hotkey {
    font-size: 3em;
    color: #FAFAFA;
}

.room-buttons-container {
    display: flex;
    height: 4em;
    padding: 1em;
    background-color: #FAFAFA;
}

.room-button {
    flex: 1;
    height: inherit;
}
.room-button.right {
    margin-left: .5em;
}
.room-button.left {
    margin-right: .5em;
}
.room-button.ready {
    background-color: #C62828;
    color: #fafafa;
    font-weight: bold;
}
.room-button.waiting {
    background-color: #2E7D32;
    color: #fafafa;
}
