.bugreport-grid {
    flex: 1;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    padding: 1em;
}

.bugreport-form {
    background-color: #FAFAFA;
}

.bugreport-textarea {
    
}

.bugreport-preview {
    background-color: #FAFAFA;
}
