.button-container {
    display: flex;
    height: 1.8rem;
    justify-content: center;
    align-items: center;
    background-color: #FFCC00;

    cursor: pointer;

    border: 1px solid #212121;
}

.button-label {
    display: flex;
    text-align: center;
}
