.header-container {
    display: grid;
    grid-template-columns: 1fr repeat(4, 10%);
    height: 96px;
    background-color: #2f54a3;
    align-items: center;
}

.header-title {
    padding-left: 1em;
    color: #FAFAFA;
    font-size: 1em;
    text-decoration: none;
}

.header-link {
    color: #FAFAFA;
    font-size: 1em;
    text-decoration: none;
}

.header-link:hover {
    text-decoration: underline;
}

.header-link.active {
    text-decoration: underline;
}