.header-container {
    display: flex;
    flex-direction: column;
    height: 96px;
    background-color: #444;
    justify-content: center;
    align-items: center;
}

.header-title {
    color: #FAFAFA;
    font-size: 1em;
    text-decoration: none;
    display: flex;
}

.header-link {
    margin-top: 1em;
    color: #FAFAFA;
    font-size: 1em;
    text-decoration: none;
    align-self: flex-end;
    margin-right: 2em;
}