.root-container {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
    width: 100vw;
}

.root-input {
    flex: 1;

    margin: .3rem;
}

.rodal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodal .rodal-dialog {
    height: auto !important;
    width: auto !important;
    padding: 1em;
    position: relative;
    top: inherit;
    bottom: inherit;
    right: inherit;
    left: inherit;
}